/* .dropdown-menu {
  background: red;
<<<<<<< HEAD:src/components/navigation/Dropdown.css
  width: 150px;
=======
  width: 300px;
>>>>>>> main:src/components/navigation/pages/dropdown/Dropdown.css
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #009f4f;
  cursor: pointer; 
}

.dropdown-menu li:hover {
  background: #59bd8b;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
} */
