/* CSS reset and set font-family */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.home,
.about,
.contact,
.gluten-free,
.keto,
.login,
.vegan,
.vegetarian,
.cuisine {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url("images/food_pattern.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: relative;
}

.keto {
  background-image: url("images/keto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.vegan {
  background-image: url("images/vegan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.vegetarian {
  background-image: url("images/vegetarian.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.gluten-free {
  background-image: url("images/indian.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}
