/* Importing syncfusion */
@import url("https://cdn.syncfusion.com/ej2/material.css");

/* CSS reset and set font-family */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* body {
  box-sizing: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  margin: 0;
} */

.home,
.none,
.japanese,
.italian,
.french,
.american,
.pakistani,
.about,
.contact,
.gluten-free,
.keto,
.login,
.vegan,
.vegetarian,
.cuisine {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url("images/food_pattern.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.keto {
  background-image: url("images/keto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.vegan {
  background-image: url("images/vegan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.vegetarian {
  background-image: url("images/vegetarian.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.gluten-free {
  background-image: url("images/indian.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.japanese{
  background-image: url("images/japanese.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.french{
  background-image: url("images/macaroons.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.pakistani{
  background-image: url("images/pakistani1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.american{
  background-image: url("images/american.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.none{
  background-image: url("images/none.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.welcome{
  background-image: url("images/fruitbasket.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
}