/* CSS reset and set font-family */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.home,
.about,
.contact,
.gluten-free,
.keto,
.login,
.vegan,
.vegetarian {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
